body {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.card-container {
  container-name: card;
  container-type: inline-size;
  height: fit-content;
  padding: 1rem;
  border-bottom: solid lightgray 0.5px;

  img {
    aspect-ratio: 1 / 1;
    border-radius: 5%;
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 3fr auto;
    gap: 1rem;

    .wrapper,
    p {
      grid-column: 2 span;
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
  }
  button {
    color: blueviolet;
    font-weight: 500;
  }
  h2,
  h4 {
    font-weight: 500;
  }

  p {
    color: gray;
    margin-top: 0.5rem;
  }
}

/* mobile */
@container card (width <= 300px) {
  .content {
    grid-template-columns: 1fr 3fr;
  }
  .card-container {
    p:last-child {
      display: none;
    }
  }
  .footer {
    flex-direction: column;
    .buttons {
      flex-direction: row;
      display: flex;
      justify-content: space-evenly;
    }
  }
}
